#art-panel {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: 80svh;
}

#graffiti-canvas {
	height: 100%;
	image-rendering: pixelated;
	border: 2px solid black;
	background-image: url("/static/images/textures/transparent_background.png");
	background-size: 6.25%;
}

#graffiti-canvas-controls {
	display: flex;
	flex-direction: column;
}

.canvas-control-button {
	aspect-ratio: square;
	background: none;
	border: none;
	cursor: pointer;

	&:hover {
		filter: brightness(150%);
	}
}
